studymate/linux/flutter/generated_plugin_registrant.cc
studymate/linux/flutter/generated_plugin_registrant.h
studymate/linux/flutter/generated_plugin_registrant.cc
studymate/linux/flutter/generated_plugin_registrant.cc
studymate/linux/flutter/generated_plugin_registrant.h
studymate/linux/flutter/generated_plugins.cmake
studymate/macos/Flutter/GeneratedPluginRegistrant.swift
studymate/windows/flutter/generated_plugin_registrant.cc
studymate/windows/flutter/generated_plugin_registrant.h
studymate/windows/flutter/generated_plugins.cmake
/studymate/android/app/.cxx/Debug/145w2l62/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty
/studymate/android/app/.cxx/Debug/145w2l62
/tests/error_logs/
/error_logs
/.idea
/.idea
studymate/pubspec.lock
/.idea
